# The loopback network interface
auto lo
iface lo inet loopback

{% if ovs_bridges is defined %}
{%   for item in ovs_bridges %}
{%     if item.state == "present" %}
{%       if item.config_etc_interfaces is defined and item.config_etc_interfaces %}
{%         if item.interfaces is defined %}
{%           for int in item.interfaces %}
{%             if item.comment is defined %}

# {{ item.comment }}
{%             endif %}
# auto {{ int }}
allow-{{ item.name }} {{ int }}
iface {{ int }} inet manual
ovs_bridge {{ item.name }}
ovs_type OVSPort
{%             if item.wireless_network is defined and item.wireless_network %}
wpa-ssid {{ item.wpa_ssid }}
wpa-psk {{ item.wpa_psk }}
{%             endif %}
{%           endfor %}
{%         endif %}

# {{ item.comment }}
auto {{ item.name }}
allow-ovs {{ item.name }}
iface {{ item.name }} inet {{ item.method }}
{%         if item.method != "DHCP" and item.method != "dhcp" %}
{%           if item.address is defined %}
address {{ item.address }}
{%           endif %}
{%           if item.netmask is defined %}
netmask {{ item.netmask }}
{%           endif %}
{%           if item.gateway is defined %}
gateway {{ item.gateway }}
{%           endif %}
{%           if item.interfaces is defined %}
ovs_ports {% for int in item.interfaces %}{{ int }}{% if not loop.last %} {% endif %}{% endfor %}
{%           endif %}
ovs_type OVSBridge
{%         endif %}
{%       endif %}
{%       if item.method == "DHCP" or item.method == "dhcp" %}
{%         if item.interfaces is defined %}
ovs_ports {% for int in item.interfaces %}{{ int }}{% if not loop.last %} {% endif %}{% endfor %}
{%         endif %}
ovs_type OVSBridge
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
